html,
body {
  font-size: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

h2,
h3,
h4,
h5 {
  font-family: $font-family-sans-serif-Med;
}

.container {
  width: 100%;
  padding: 0;
}

.main-container {
  margin: auto;
  max-width: 1366px;
}

.page-header {
  @extend %inner-content-width-padding;
  @extend %title-border-bottom;
  border-bottom: none;
  margin-top: 36px;
  font-size: $font-size-h2;
  @media (min-width: $screen-sm) {
    font-size: $font-size-h1-sm;
  }
  @media (min-width: $screen-md) {
    font-size: $font-size-h1;
    margin: auto;
  }
}

.region-content {
  clear: both;
  overflow: hidden;
}

.right__sidebar {
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $screen-md) {
    padding-left: 0;
    padding-right: 0;
  }
}
