.content .navbar {
  background: none;
  box-shadow: none;
  border: none;
  min-height: none;
}

.navbar.container {
  max-width: $screen-lg;
}

.region-header .name,
.region-content-bottom .clear__all {
  display: none;
}

// Ingredients Menu.

.ingredient--submenu {
  border-bottom: 1px solid $color-warm-gray;
  background-color: $color-white;
  margin-top: 20px;
  @media (min-width: $screen-sm) {
    margin-bottom: 38px;
  }

  &.navbar-fixed-top {
    margin-top: 0;
  }

  ul {
    display: table;
    list-style: none;
    margin: auto;
    margin-bottom: 0;
    max-width: $screen-lg;
    padding-left: 0;
    width: 100%;

    li {
      display: none;
      @media (min-width: $screen-sm) {
        display: table-cell;
        vertical-align: bottom;
        word-break: break-word;
      }

      &:first-child() {
        display: block;
        @media (min-width: $screen-sm) {
          display: table-cell;
        }
        a {
          position: relative;
          background: $gray-base;
          color: $color-white;
          &::after {
            @extend %svg-icon-small;
            background: url("../images/icons/cta-drop-down-arrow-white.svg") no-repeat;
            background-size: cover;
            padding-left: 10px;
            position: absolute;
            margin-top: 3px;
            right: 15px;
          }
          @media (min-width: $screen-sm) {
            background: $color-white;
            color: $gray-base;
            &::after {
              content: none;
            }
          }
        }
      }

      a {
        display: block;
        font-size: 14px;
        padding: 10px 11px;
        text-transform: uppercase;
        @media (min-width: $screen-sm) {
          text-align: center;
        }
        &:hover {
          background: $gray-base;
          color: $color-white;
        }
      }
    }
  }
}

.navbar-default {
  background: none;
  box-shadow: 0 0 0;
  border-radius: 0;
  border: 0 none;
}

#navbar1 {
  width: 100%;
  border: 0 none;
}

.navbar-toggle {
  float: left;
  border: 0;
  margin: 0;
}

#block-tateandlyle-main-menu {
  float: right;
  width: 100%;
  margin-top: -3em;
  background: white;
  z-index: 99;
  padding: 1em;
  @media (min-width: $screen-md) {
    width: auto;
    margin-top: 0;
    padding: 5px;
  }
  li {
    border-bottom: 1px solid black;
    @media (min-width: $screen-sm-lsp) {
      border: 0 none;
    }
  }
  a {
    font-size: 14px;
    text-transform: uppercase;
    @media (min-width: $screen-sm) {
      padding-top: 0;
      padding-bottom: 2px;
    }
    &:hover {
      background: $color-light-gray;
    }
    &.is-active {
      background: black;
      color: white;
    }
  }
}

.path-frontpage .region-header {
  background-color: rgba(147, 156, 161, 0.1);
}

#block-talmainmenu {
  .navbar {
    border-top: 1px solid $color-warm-gray;
    border-bottom: 1px solid $color-warm-gray;
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;

    .col-sm-4 {
      @media (min-width: $screen-sm) {
        padding: 33px;
        padding-left: 0;
        padding-right: 30px;

        &:nth-child(3) {
          border-left: 1px solid $color-warm-gray;
          padding-left: 16px;
        }
      }
    }
  }

  .navbar-nav > li > a {
    font-family: $font-family-sans-serif-Med;
    padding: 17px 18px 14px 18px;
    text-transform: uppercase;
  }

  @media (min-width: $screen-sm) {

    .navbar-nav > li,
    .navbar-nav > li > a {
      position: static;
    }

    .multi-column.columns-3 {
      border: 1px solid $color-warm-gray;
      border-radius: 0;
      padding: 0 16px;
      left: 0;
      right: 0;
    }
  }

  .level-1.open {
    @media (min-width: $screen-sm) {
      border: 1px solid $color-warm-gray;
      border-top: 3px solid $brand-primary;
      border-bottom: 0;
      margin-bottom: -1px;
      margin-top: -1px;
    }

    & > a {
      background: $color-white;
      box-shadow: none;
      color: $gray-base;
      position: relative;
      z-index: 11;
    }
  }
}

.dropdown-menu {
  z-index: 10;

  h3 {
    padding-left: 14px;
  }

  .focus--title {
    font-family: $font-family-sans-serif;
  }
}

.multi-column {

  .form-group {
    margin-bottom: 0;
  }

  .block-views {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 54px;
  }
}

.multi-column-dropdown {
  @extend %no-list;
}

.level-3 .focus--title {
  display: block;
  padding: 9px 14px;
  font-size: $font-size-small;
  text-transform: uppercase;
  &:hover {
    background-color: $color-light-gray;
    color: $gray-base;
  }

  &.is-active {
    background-color: $gray-base;
    color: $color-white;
  }
}

.dsc .focus--title {
  font-family: $font-family-sans-serif-Med;
  font-size: $font-size-h3;
  text-transform: none;
  padding-bottom: 12px;
  padding-top: 0;

  &:hover {
    background-color: transparent;
    color: $brand-primary;
  }

  &::after {
    @extend %right-brand-arrow;
  }
}

.focus--description {
  padding-left: 14px;
}

