.content .navbar {
  background: none;
  box-shadow: none;
  border: none;
}

.navbar.container {
  max-width: $screen-lg;
}

.region-header .name,
.region-content-bottom .clear__all {
  display: none;
}

.field--name-field-image img {
  background-color: #AFAFAF;
}

// Ingredients Menu.

.ingredient--submenu {
  border-bottom: 1px solid $color-warm-gray;
  background-color: $color-white;
  padding-top: 20px;
  margin-bottom: 38px;
  ul {
    display: table;
    list-style: none;
    margin: auto;
    margin-bottom: 0;
    max-width: $screen-lg;
    padding-left: 0;
    width: 100%;

    li {
      display: none;
      @media (min-width: $screen-sm) {
        display: table-cell;
        vertical-align: bottom;
        word-break: break-word;
      }

      &:first-child() {
        display: block;
        @media (min-width: $screen-sm) {
          display: table-cell;
        }
        a {
          position: relative;
          background: $gray-base;
          color: $color-white;
          &::after {
            color: $color-white;
            content: $fa-var-angle-down;
            font-family: $font-family-icon;
            padding-left: 10px;
            position: absolute;
            right: 20px;
          }
          @media (min-width: $screen-sm) {
            background: $color-white;
            color: $gray-base;
            &::after {
              content: none;
            }
          }
        }
      }

      a {
        display: block;
        font-size: 14px;
        padding: 10px 11px;
        text-transform: uppercase;
        @media (min-width: $screen-sm) {
          text-align: center;
        }
        &:hover {
          background: $gray-base;
          color: $color-white;
        }
      }
    }
  }
}
