.btn {
  border-radius: 0;
}

.btn-primary {
  background: $brand-primary;
  border: none;
  padding: 8px 20px;

  &:hover {
    background: $brand-primary;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

.btn-white {
  border: 1px solid;
  color: inherit;
  display: inline-block;
  padding: 8px 15px;

  &:hover {
    color: inherit;
    border: 2px solid;
    padding: 7px 14px;
  }
}

.btn-white-extra-padding {
  @extend .btn-white;
  padding: 13px 22px;
  &:hover {
    padding: 12px 21px;
  }
}
