.facets-checkbox {
  display: none;
  outline: none;
}

.facets-checkbox + label::before {
  content: " ";
  background: url("../images/icons/checkbox-unchecked-black.svg") no-repeat;
  background-size: cover;
  display: inline-block;
  height: 16px;
  margin-right: 14px;
  vertical-align: middle;
  width: 16px;
}

.facets-checkbox:checked + label::before {
  background: url("../images/icons/checkbox-checked-blue.svg") no-repeat;
  background-size: cover;
}

.facet-item:hover .facets-checkbox + label::before {
  background: url("../images/icons/checkbox-checked-blue.svg") no-repeat;
  background-size: cover;
}

.form-required::after {
  content: "*";
  color: $color-red;
  padding-left: 5px;
}
