.addthis--wrapper {
  border-bottom: 1px solid $color-warm-gray;
  border-top: 1px solid $color-warm-gray;
  clear: both;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 21px;
  padding-bottom: 17px;
  text-align: center;
}
