.addthis--wrapper {
  border-bottom: 1px solid $color-warm-gray;
  border-top: 1px solid $color-warm-gray;
  text-align: center;
  height: 105px;
  display: table;
  width: 100%;
  .addthis_inline_share_toolbox {
    display: table-cell;
    vertical-align: middle;
  }
}
