.path-node {
  strong {
    color: $gray-base;
    font-family: $font-family-sans-serif-Med;
    font-size: $font-size-h4;
    @media (min-width: $screen-sm) {
      font-size: $font-size-h3;
    }
  }
}

blockquote {
  border-left: 0;
  p {
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

    &::before,
    &::after {
      display: inline-block;
      line-height: 0;
    }
  }
}

strong {
  font-family: $font-family-sans-serif-bold;
}

label {
  font-weight: normal;
}
