/* Dinot Regular
 -------------------------- */
@font-face {
  font-family: 'DINOT';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DINOT.otf') format('opentype');
}

/* Dinot Medium
 -------------------------- */
@font-face {
  font-family: 'DINOT-Med';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DINOT-Medium.otf') format('opentype');
}

/* Dinot Light
 -------------------------- */
@font-face {
  font-family: 'DINOT-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DINOT-Light.otf') format('opentype');
}

/* Dinot Bold
 -------------------------- */
@font-face {
  font-family: 'DINOT-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DINOT-Bold.otf') format('opentype');
}
