.annual__reports {
  margin: 50px 0;

  iframe {
    border: none;
    width: 100%;
  }

  .report--content {
    margin-bottom: 8px;

    @media (min-width: $screen-sm) {
      margin-bottom: 56px;
    }
  }

  h4 {
    margin-bottom: 22px;
    margin-top: 20px;

    @media (min-width: $screen-sm) {
      font-size: $font-size-h3;
    }
  }

  .col {
    text-align: center;
    border-bottom: 1px solid $color-warm-gray;
    font-size: $font-size-base;

    @media (min-width: $screen-sm) {
      border-right: 1px solid $color-warm-gray;
      border-bottom: none;
      display: inline-block;
      max-width: 312px;
      position: relative;
      text-align: left;
      vertical-align: top;
      width: 50%;
    }

    @media (min-width: $screen-md) {
      display: table-cell;
      float: none;
      padding: 0 61px;
      max-width: none;
      vertical-align: top;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      &:nth-child(odd) {
        padding-right: 34px;
      }

      &:nth-child(even) {
        border-right: 0;
        padding-left: 34px;
      }
    }

    &:last-child {
      border: none;
      @media (min-width: $screen-md) {
        padding-left: 56px;
        padding-right: 20px;
      }
    }

    &:first-child {
      @media (min-width: $screen-md) {
        padding-left: 20px;
        padding-right: 57px;
      }
    }

    &:nth-child(3n) {
      @media (min-width: $screen-sm) {
        padding-top: 58px;
      }

      @media (min-width: $screen-md) {
        padding-top: 0;
      }
    }
  }

  .col .icon {
    @media (min-width: $screen-sm) {
      height: 147px;
      width: 279px;
    }

    @media (max-width: $screen-xs-max) {
      background-color: transparent;
    }
  }

  .external__link {
    margin-bottom: 35px;
    @media (min-width: $screen-sm) {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }

    a {
      &::after {
        @extend %right-brand-arrow;
      }
    }
  }
}

.annual__reports--inner {
  margin: auto;
  max-width: 626px;
  font-size: 0;

  @media (min-width: $screen-md) {
    display: table;
    max-width: 1109px;
    text-align: left;
    width: 100%;
  }
}

