.block--single-item-promo-background {
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 25px;
  padding-top: 83px;
  padding-bottom: 85px;

  @media (min-width: $screen-md) {
    margin-left: -15.22%;
    margin-right: -15.22%;
  }

  .item__promo {
    max-width: 1107px;
    margin: auto;
  }

  .item__promo-content {
    background-color: $color-white;
    padding: 0;
    img {
      margin: auto;
    }
  }

  .item__promo .block-icon {
    vertical-align: middle;
    width: 380px;
  }

  .item__promo .field--name-field-tal-link a {
    border: none;
    padding: 0;
  }

  .item__promo--summary {
    width: auto;
    padding: 46px 30px 50px 45px;

    .block-summary {
      width: auto;
      margin: 0;
    }

    .field--name-field-title,
    .field--name-field-tal-link {
      color: $gray-base;
    }

    .field--name-field-tal-link::after {
      color: $brand-primary;
    }
  }
}
