.block-banner {
  margin-top: 25px;
  margin-bottom: 25px;
  @media (min-width: $screen-sm) {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  @media (min-width: $screen-md-lg) {
    margin-left: -12.22%;
    margin-right: -12.22%;
  }

  .block-banner {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tal--ingredient-banner {
  margin-left: -12.22%;
  margin-right: -12.22%;
}

.banner__overlay__block {
  @media (min-width: $screen-xs) {
    position: relative;
    min-height: 262px;
  }
  @media (min-width: $screen-sm) {
    height: 350px;
  }
}

.banner__overlay--background {
  display: none;
  @media (min-width: $screen-xs) {
    display: block;
  }

  .img-responsive {
    min-height: 262px;
    width: 100%;
    object-fit: cover;
    @media (min-width: $screen-sm) {
      height: 350px;
    }
  }
}

.banner__overlay--content {
  .banner__overlay--left,
  .banner__overlay--right {
    @media (min-width: $screen-xs) {
      bottom: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }
  }

  .banner__overlay--left {
    @media (min-width: $screen-xs) {
      background: $color-white-translucent;
      left: 0;
      right: 50%;
      padding-top: 40px;
    }

    @media (min-width: $screen-md) {
      padding-top: 34px;
    }

    @media (min-width: $screen-md-lg) {
      padding-top: 64px;
    }
  }

  .banner__overlay--right {
    left: 50%;
    right: 0;
    @media (min-width: $screen-sm) {
      padding-top: 50px;
    }
  }

  .banner--inner {
    margin-left: 20px;
    @media (min-width: $screen-xs) {
      width: 80%;
      margin: auto;
      max-width: 381px;
    }
  }

  .field--name-field-banner-title {
    @extend %title-border-bottom;
    color: $gray-base;
    font-size: $font-size-h2;
    margin-bottom: 10px;
    @media (min-width: $screen-xs) {
      font-size: $font-size-h1-sm;
    }
    @media (min-width: $screen-sm) {
      font-size: $font-size-h2-l;
    }
    @media (min-width: $screen-md) {
      font-size: $font-size-h1;
    }
  }

  .field--name-field-short-summary {
    color: $gray-base;
    display: none;
    @media (min-width: $screen-sm-lsp) {
      display: block;
    }
  }
}

// Important to override inline style.
.butoflashplayer,
.butohtml5player {
  display: none;
  @media (min-width: $screen-sm-lsp) {
    display: block;
  }
  height: 261px !important;
  width: 100%;
  padding: 0 !important;
  max-width: 464px;
  margin: auto;
  object,
  video {
    width: 100% !important;
    height: 100% !important;
  }
}
