.block-bg.white,
.block-bg.off-white,
.block-bg.light-grey,
.block-bg.no__bg {
  color: $gray-base;
  a:hover {
    color: $brand-primary;
    opacity: 1;
  }

  .field--name-field-dcp-content-section > .field--item {
    border-color: $gray-dark;
    .field--name-field-simple-summary {
      color: $gray-dark;
    }

    .field--name-field-simple-text a:hover,
    .field--name-field-dcp-link a:hover {
      color: $brand-primary;
      opacity: 1;
    }
  }

  .field--name-field-banner-title,
  .block-title {

    &::before {
      background-color: $gray-base;
    }
  }

  .field--name-field-all-jobs-link {
    a:hover {
      background: $brand-primary;
      border: none;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      color: $color-white;
      padding: 8px 20px;
    }
  }
}

.block-bg.warm-grey {
  background-color: $color-warm-gray;
}

.block-bg.black {
  background-color: $gray-base;
}

.block-bg.purple {
  background-color: $color-purple;
}

.block-bg.blue {
  background-color: $brand-primary;

  .field--name-field-all-jobs-link a {
    border: 1px solid $color-white;
  }

  .field--name-field-tal-link a:hover {
    color: $gray-base;
  }
}

.block-bg.red {
  background-color: $color-red;
}

.block-bg.off-white {
  background-color: $color-off-white;
}

.block-bg.mid-grey {
  background-color: $gray-dark;
}

.block-bg.yellow {
  background-color: $color-yellow;
}

.block-bg.gold {
  background-color: $color-gold;
}

.block-bg.silver {
  background-color: $color-silver;
}

.block-bg.light-grey {
  background-color: $color-light-gray;
}

.block--quote.warm-grey {
  color: $color-warm-gray;
}

.block--quote.black {
  color: $gray-base;
}

.block--quote.purple {
  color: $color-purple;
}

.block--quote.blue {
  color: $brand-primary;
}

.block--quote.red {
  color: $color-red;
}

.block--quote.white {
  color: $color-white;
}

.block--quote.off-white {
  color: $color-off-white;
}

.block--quote.mid-grey {
  color: $gray-dark;
}

.block--quote.yellow {
  color: $color-yellow;
}

.block--quote.gold {
  color: $color-gold;
}

.block--quote.silver {
  color: $color-silver;
}

.block--quote.light-grey {
  color: $color-light-gray;
}

// Block Reference custom blocks.

.paragraph--type--block-reference {
  & > .block {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  & > .block--connect {
    margin-top: 25px;
    margin-bottom: 25px;
    @media (min-width: $screen-xs) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .block--single-item-promo {
    .field--name-body {
      padding-left: 0;
    }
  }
}
