.block--connect {
  padding: 50px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $screen-xxs-max) {
    background: $color-white !important;  // Override Inline Style.
    .overlay__block {
      border: 1px solid $color-warm-gray;
    }
  }

  @media (min-width: $screen-sm) {
    padding: 66px 72px;
  }

  @media (min-width: $screen-md) {
    padding: 90px 20px;
  }
}

.overlay__block--content {
  @extend .max-content-width;
  background: $color-white;
  margin: auto;
  max-width: 1108px;
  text-align: center;
  width: 100%;

  @media (min-width: $screen-md) {
    display: table;
    text-align: left;
    height: 260px;
  }

  .component-left {
    color: $color-white;
    padding: 36px;
    @media (min-width: $screen-md) {
      display: table-cell;
      vertical-align: top;
      width: 33.33%;

      .field--name-field-icon {
        margin-bottom: 15px;
      }
    }

    .field--name-field-simple-text {
      color: $color-white;
      font-size: $font-size-h3;
      font-family: $font-family-sans-serif-Med;
      line-height: 1.2;
      @media (min-width: $screen-sm) {
        font-size: $font-size-h2;
      }
    }
  }

  .field--name-field-short-summary {
    font-size: $font-size-base;
    margin-top: 20px;
  }

  .component-left,
  .connect__block {
    color: $color-white;
    padding: 20px;
    @media (min-width: $screen-sm-lsp) {
      padding: 29px 116px 36px 116px;
    }
    @media (min-width: $screen-md) {
      display: table-cell;
      padding: 20px 72px 57px 36px;
      vertical-align: middle;
      width: 33.33%;
    }
  }

  .connect__block {
    color: $gray-base;
    text-align: left;

    hr {
      margin-top: 36px;
      margin-bottom: 2px;
      border-color: $color-warm-gray;
    }

    @media (min-width: $screen-xs) {
      text-align: center;
    }

    @media (min-width: $screen-sm-lsp) {
      padding: 30px 20px;
    }

    @media (min-width: $screen-sm) {
      padding: 30px 60px;
    }

    @media (min-width: $screen-md) {
      padding: 20px 72px 57px 36px;
      text-align: left;
    }

    @media (min-width: $screen-md) {
      border-bottom: none;
      position: relative;

      hr {
        display: none;
      }

      &::after {
        content: " ";
        background: $color-warm-gray;
        height: 72%;
        position: absolute;
        right: 0;
        top: 14%;
        width: 1px;
      }
    }

    .field--name-field-simple-text,
    .field--name-field-pr-title {
      display: inline-block;
      font-size: $font-size-h3;
      padding-right: 5px;
      margin-bottom: 5px;
      @media (min-width: $screen-md) {
        display: block;
        padding-right: 0;
      }
    }

    .field--name-field-phone-number {
      display: block;
      font-family: $font-family-sans-serif-Med;
      font-size: $font-size-h3;
      margin-bottom: 20px;
      @media (min-width: $screen-md) {
        font-size: $font-size-h2;
      }
    }

    .field--name-field-button-text {
      @extend .btn;
      @extend .btn-primary;
      &::after {
        @extend %svg-icon-small;
        background: url("../images/icons/cta-arrow-white.svg") no-repeat;
        background-size: cover;
      }
    }

    .field--name-field-ttu-link-text,
    .field--name-field-pr-link {
      @media (min-width: $screen-md) {
        position: absolute;
        bottom: 10%;
      }

      &::after {
        @extend %svg-icon-small;
        background: url("../images/icons/cta-arrow-blue.svg") no-repeat;
        background-size: cover;
      }
    }

    .field--name-field-pr-description {
      color: $gray-dark;
      margin-bottom: 25px;
    }
  }

  & > .connect__block:last-child {

    @media (min-width: $screen-sm-lsp) {
      padding-top: 0;
    }

    @media (min-width: $screen-md) {
      padding: 20px 72px 57px 36px;
      text-align: left;
    }

    @media (min-width: $screen-md) {
      &::after {
        content: none;
      }
    }

    hr {
      display: none;
    }
  }

  .icon {
    h2 {
      display: none;
    }

    img {
      max-width: 45px;
      margin: auto;
      @media (min-width: $screen-md) {
        margin: 0;
      }
    }
  }
}

.overlay__block--content {
  @media (max-width: $screen-sm-lsp-max) {
    position: static;
    transform: none;
  }
}

.recruitment__block {
  .component-left {
    .field--name-field-description {
      margin-bottom: 10px;
    }

    @media (min-width: $screen-md) {
      display: table-caption;
      width: 100%;


      .inline--description {
        display: inline-block;
        padding-right: 20px;
        vertical-align: middle;
      }
    }

    @media (min-width: $screen-md) {
      display: table-cell;
      width: 33.33%;
      .inline--description {
        display: block;
        padding-right: 0;
      }
    }
  }
  .field--name-field-all-jobs-link {
    @media (min-width: $screen-md) {
      margin-top: 35px;
    }
    a {
      @extend .btn-white;
      &::after {
        content: "\f105";
        font-family: $font-family-icon;
        padding-left: 10px;
      }
    }
  }

  .component-left,
  .connect__block {
    @media (min-width: $screen-md) {
      vertical-align: top;
    }
  }
}

.white .component-left,
.off-white .component-left,
.light-grey .component-left {
  color: $gray-dark;
  .field--name-field-simple-text,
  .field--name-field-all-jobs-link a {
    color: $gray-base;
  }

  .field--name-field-all-jobs-link a:hover {
    color: $link-hover-color;
  }
}

.warm-grey .component-left {
  background-color: $color-warm-gray;
}

.black .component-left {
  background-color: $gray-base;
}

.purple .component-left {
  background-color: $color-purple;
}

.blue .component-left {
  background-color: $brand-primary;
  .field--name-field-all-jobs-link a:hover {
    color: $gray-base;
  }
}

.red .component-left {
  background-color: $color-red;
}

.off-white .component-left {
  background-color: $color-off-white;
}

.mid-grey .component-left {
  background-color: $gray-dark;
}

.yellow .component-left {
  background-color: $color-yellow;
}

.gold .component-left {
  background-color: $color-gold;
}

.silver .component-left {
  background-color: $color-silver;
}

.light-grey .component-left {
  background-color: $color-light-gray;
}
