.file--downloads {
  @extend %border__block;
  margin: 94px auto 80px;
  @media (max-width: $screen-sm-max) {
    margin: 30px;
    margin-top: 75px;
    max-width: none;
  }

  .field--name-field-downloads-border-title {
    @extend %border__block--title;
    font-size: $font-size-h3;

    @media (min-width: $screen-md) {
      font-size: $font-size-h2;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 25px;
    }
  }

  .paragraph--type--related-downloads {
    border-bottom: 1px solid $color-warm-gray;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: $screen-md) {
      display: table;
      width: 100%;
    }
  }

  .inline-content {
    padding-right: 10px;
    vertical-align: top;
    @media (min-width: $screen-md) {
      display: table-cell;
    }
  }

  .field--name-field-file-display-name {
    color: $gray-base;
    font-size: $font-size-h5;
    @media (min-width: $screen-sm) {
      font-size: $font-size-h3;
    }
  }

  .field--name-field-file-description {
    margin-top: 15px;
  }

  .filegroup-count em {
    font-style: normal;
  }

  .filegroup-count + .field--name-field-file-description {
    position: relative;
    left: -20%;
    @media (min-width: $screen-sm) {
      left: -12%;
    }
    @media (min-width: $screen-md) {
      position: static;
    }
  }

  .download-inactive {
    @extend .btn-primary-inactive;
    display: block;
    &::after {
      @extend %download-icon;
    }
  }

  .tal-downloads-language-selection,
  .field--name-field-file-group {
    margin-top: 20px;
    text-align: right;
    vertical-align: bottom;
    @media (min-width: $screen-md) {
      display: table-cell;
      margin-top: 0;
      width: 53%;
    }
  }

  .field--name-field-file-group {
    text-align: center;
    @media (min-width: $screen-sm) {
      text-align: right;
    }
  }

  .form-item-change-language,
  .form-item-change-language + div {
    margin-bottom: 0;
    text-align: center;
    margin-top: 25px;
    @media (min-width: $screen-sm) {
      display: inline-block;
      margin-top: 0;
      text-align: right;
      vertical-align: bottom;
    }
  }

  .form-item-change-language {
    @media (min-width: $screen-sm) {
      margin-right: 96px;
    }

    .input-group {
      @media (max-width: $screen-xs-max) {
        display: block;
        overflow: hidden;
      }
    }
  }

  .inline-icon {
    width: 15%;
    @media (min-width: $screen-sm) {
      width: 10%;
    }

    img {
      padding-top: 7px;
      max-width: 30px;
      height: auto;

      @media (min-width: $screen-sm) {
        max-width: 41px;
      }

      @media (min-width: $screen-md) {
        margin: auto;
      }
    }
  }

  .inline-description {
    width: 83%;
    text-align: left;
    @media (min-width: $screen-sm) {
      width: 88%;
    }
    @media (min-width: $screen-md) {
      width: 37%;
    }
  }

  .input-group-addon {
    display: none;
  }

  select {
    @extend %bordered-select;
  }

  .tal-file-download-link {
    text-align: center;
    @media (min-width: $screen-sm) {
      text-align: right;
    }
  }
}

.file--downloads .btn--download,
.block--download .field--name-field-tal-link {
  a {
    @extend .btn;
    @extend .btn-primary;
    display: block;
    padding-bottom: 9px;
    padding-top: 9px;
    width: 100%;

    @media (min-width: $screen-sm) {
      display: inline-block;
      width: auto;
    }

    &::after {
      @extend %download-icon;
    }

    &:hover {
      background-color: $color-white;
      border: 1px solid $brand-primary;
      box-shadow: none;
      color: $brand-primary;
      padding: 8px 19px;

      &::after {
        background: url("../images/icons/buttoncta-arrow-blue.svg") no-repeat;
      }
    }
  }
}

.block--download {
  .block-title {
    @extend %border__block--title;
    font-size: $font-size-h3;

    @media (min-width: $screen-md) {
      font-size: $font-size-h2;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 25px;
    }
  }

  .field--name-field-tal-link {
    margin-top: 11px;
  }
}

.more-less {
  float: right;
  margin-top: -20px;
  font-size: 12px;
  font-weight: lighter;
  border: 1px solid #14AAE2;
  border-radius: 50% 50%;
  padding: 3px 3px 4px 5px;
  color: $brand-primary;
}

.block--downloads-with-accordion {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid $color-warm-gray;
  display: table;
  margin-bottom: 1em;
  > .field--items > .field--item {
    border-bottom: 1px solid $color-warm-gray;
    .panel-default {
      max-width: 879px;
      margin: 0 auto;
    }
  }
  .file--downloads {
    border: 0;
    background: $color-off-white;
    margin-top: 0;
    padding: 40px;
  }
  .panel {
    border: 0;
    margin: 0;
    box-shadow: 0 0 0;
  }
  .panel-heading {
    background: none;
    padding: 1.5em;
    border: 0 none;
  }
  .block-title {
    position: relative;
    top: -7px;
    text-align: center;
  }
  .accordion-toggle {
    color: $brand-primary;
    font-size: 24px;
  }
  .accordion-toggle.collapsed {
    color: black;
  }
}
