.page--footer-top {
  background: $color-off-white;
  .region-footer-top {
    margin: 0 30px;
    padding: 46px 0;
    padding-bottom: 60px;
    @media (min-width: $screen-sm-lsp) {
      padding: 35px 0;
      padding-bottom: 60px;
    }
    @media (min-width: $screen-sm) {
      padding: 50px 0;
      min-height: 452px;
    }
    @media (min-width: $screen-md) {
      margin: 0 auto;
      max-width: 802px;
    }
    @media (min-width: $screen-md-lg) {
      max-width: 1109px;
      padding: 62px 0;
    }
  }
  h2 {
    font-size: 24px;
    color: $gray-base-light;
    margin-bottom: 23px;
    margin-top: 0;
  }
  .block-keyareasofexpertise {
    @media (min-width: $screen-sm) {
      width: 50%;
      padding: 0;
      display: inline-block;
      min-height: 327px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      padding-right: 50px;
    }
    @media (min-width: $screen-md) {
      padding-right: 71px;
    }
    @media (min-width: $screen-md-lg) {
      padding-right: 100px;
    }
    ul {
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: table;
        width: 100%;
        a {
          background-position: 0 center;
          background-size: 28px;
          height: 68px;
          font-size: $font-size-h5;
          padding-left: 62px;
          position: relative;
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          @media (min-width: $screen-sm-lsp) {
            background-position: 26px center;
            padding-left: 79px;
          }

          @media (min-width: $screen-sm) {
            background-position: 0 center;
            padding-left: 60px;
          }

          @media (min-width: $screen-md) {
            height: 70px;
          }

          @media (min-width: $screen-md-lg) {
            background-position: 20px center;
            padding-left: 70px;
            height: 70px;
          }
          &:hover {
            background-color: transparent;
          }
          &::after {
            @extend %right-brand-arrow;
            font-size: 23px;
            position: absolute;
            right: 0;
            top: 30%;
          }
        }
      }
    }
  }
  .block-tal-ingredient-search {
    padding: 0;
    max-width: 100%;
    margin-top: 49px;
    @media (min-width: $screen-sm-lsp) {
      margin-top: 41px;
    }
    @media (min-width: $screen-sm) {
      padding-left: 50px;
      max-width: 50%;
      margin-top: 0;
      float: right;
    }
    @media (min-width: $screen-md) {
      padding-left: 69px;
    }
    @media (min-width: $screen-md-lg) {
      padding-left: 96px;
    }
    .footer-search-finder-block {
      position: relative;
      margin-top: 59px;
      @media (min-width: $screen-sm) {
        margin-top: 109px;
      }

      @media (min-width: $screen-md-lg) {
        margin-top: 119px;
      }

      .form-type-textfield {
        margin-bottom: 6px;
      }

      .form-type-textfield .input--wrapper {
        border-bottom: 1px solid $color-warm-gray;
        display: block;
        padding-bottom: 10px;
      }

      .input--title {
        display: none;
      }

      input.search {
        background: transparent;
        box-shadow: 0 0 0;
        border: 0;
        border-radius: 0;
        color: $gray-base;
        font-size: $font-size-h4;
        padding-left: 0;
        @media (min-width: $screen-md-lg) {
          font-size: $font-size-h3;
        }
      }

      .form-submit {
        position: absolute;
        right: 0;
        top: -1em;
        background: transparent;
        font-size: 0;
        box-shadow: 0 0 0;
        padding-right: 0;
        .icon {
          display: none;
        }

        &::after {
          background: url("../images/icons/iconsearch-black.svg") no-repeat;
          background-size: cover;
          content: " ";
          display: inline-block;
          height: 25px;
          width: 25px;
        }
      }
    }
    .advance-search a {
      color: $color-warm-gray;
      text-decoration: underline;
    }
  }
}
