.tal--image-gallery {
  padding: 0 20px;
  @media (min-width: $screen-sm) {
    width: 100% !important;
  }
  @media (min-width: $screen-lg) {
    width: 83% !important;
  }
  @media (min-width: $screen-md) {
    width: 83% !important;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    margin: 30px 0 20px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
}

.tal--promoted-image {
  width: 100%;
  @media (min-width: $screen-md) {
    width: 50%;
    float: left;
  }
  .view-image-gallery .views-row, .view-video-gallery .views-row {
    @media (min-width: $screen-md) {
      float: none;
    }
  }
  img {
    width: 100%;
  }
}

.view-image-gallery, .view-video-gallery {
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    background-color: rgba(17, 17, 17, 0.7);
  }
  .views-row {
    position: relative;
    @media (min-width: $screen-md) {
      float: left;
      margin-right: 10px;
    }
  }
}

.tal--featured-image {
  width: 100%;
  @media (min-width: $screen-md) {
    width: 50%;
    display: inline-block;
    float: right;
  }
  .views-row {
    margin-bottom: 10px;
    width: 100%;
    &:nth-child(2), &:nth-child(2) {
      margin-right: 0;
    }
    @media (min-width: $screen-sm) {
      width: 47%;
      float: left;
      padding: 0;
      margin-right: 10px;
      margin-left: 0;
    }
    @media (min-width: $screen-lg) {
      width: 48%;
      margin-right: 10px;
      margin-left: 0;
    }
    @media (min-width: $screen-md) {
      margin-left: 0;
    }
  }
  img {
    width: 100%;
  }
}

.tal--image-gallery-categories {
  float: left;
  width: 100%;
}

.view-video-gallery {
  .glyphicon-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 74px;
    height: 74px;
    margin: -37px 0 0 -37px;
    cursor: pointer;
    overflow: hidden;
    font-size: 60px;
    color: white;
  }
}
