.paragraph--type--ingredient-accordion {
  @extend .tabs__accordion;
  @media (min-width: $screen-sm-lsp) and (orientation: landscape) {
    max-width: 607px;
  }

  @media (min-width: $screen-sm) {
    max-width: 798px;
  }

  @media (min-width: $screen-md) {
    max-width: 1108px;
  }

  .panel-group {
    border-left: 1px solid $color-warm-gray;
    border-right: 1px solid $color-warm-gray;
    @media (min-width: $screen-sm) {
      border: none;
    }

    .panel {
      border-top: 1px solid $color-warm-gray;
      margin-top: -1px;

      .panel-title a.collapsed {
        background-color: $color-off-white;
      }
    }
  }

  .field--in-border-title {
    margin-left: 0;
    text-align: left;

    @media (min-width: $screen-sm) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.country__region--wrap {
  overflow: hidden;
}

.paragraph--show-border {
  @extend .max-content-width;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-top: 0;
  @media (max-width: $screen-sm-max) {
    margin-left: 20px;
    margin-right: 20px;
    max-width: none;
  }

  @media (min-width: $screen-sm) {
    border: 1px solid $color-warm-gray;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 60px;
    padding-top: 0;
  }

  @media (min-width: $screen-md) {
    padding: 100px;
    padding-top: 0;
  }

  .title,
  .field--in-border-title {
    @extend %title-border-top;
    color: $gray-base;
    font-family: $font-family-sans-serif-Med;
    font-size: $font-size-h3;
    margin-bottom: 40px;

    @media (min-width: $screen-sm) {
      background: $color-white;
      display: table;
      font-size: $font-size-h2;
      margin-bottom: 65px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }

  strong {
    color: $gray-base;
    font-family: $font-family-sans-serif;
    font-size: $font-size-h4;
    @media (min-width: $screen-sm) {
      font-size: $font-size-h3;
    }
  }

  p {
    clear: left;
  }

  .field--available-countries-text {
    border-top: 2px solid $color-warm-gray;
    color: $gray-base;
    font-size: $font-size-h3;
    margin-top: 30px;
    padding-top: 30px;
  }

  .common-names {
    color: $gray-base;
    font-family: $font-family-sans-serif-Med;
    font-size: $font-size-h4;
    margin-bottom: 20px;
    @media (min-width: $screen-sm) {
      font-size: $font-size-h3;
      margin-bottom: 12px;
      margin-top: 4px;
    }
  }

  .in--country-count,
  .in--region-count {
    @extend .h4;
    font-family: $font-family-sans-serif-Med;
    margin-bottom: 2px;
    margin-top: 18px;
    @media (min-width: $screen-sm) {
      font-family: $font-family-sans-serif;
      font-size: $font-size-h1;
    }
  }

  .field--in-country,
  .field--in-region {
    margin-top: 24px;

    ul {
      color: $gray-base;
      float: left;
      margin: 0;
      padding-left: 20px;
      padding-top: 0;
      width: 50%;
    }
  }

  .field--in-region {
    @media (min-width: $screen-sm) {
      margin-top: 45px;
    }
  }
}

.contact_us_more {
  margin-top: 5px;
  &::after {
    @extend %right-brand-arrow;
  }
}

.region--country {
  clear: both;
  overflow: auto;
  @media (min-width: $screen-sm) {
    border-right: 1px solid $color-warm-gray;
    clear: none;
  }
}

.regions--wrapper {
  @media (min-width: $screen-sm) {
    border-right: none;
    padding-left: 44px;
  }
}

.field--in-country .more-countries {
  display: none;
}

.in--country-read-more {
  clear: both;
  padding: 1px;
  text-align: center;

  .more--countries {
    margin-top: 30px;
  }
}

.in--country-read-more .btn {
  background: $color-off-white;
  border-top: 1px solid $color-warm-gray;
  border-bottom: 1px solid $color-warm-gray;
  display: block;
  padding: 28px;
  width: 100%;
  color: $gray-base;
  &::after {
    color: $brand-primary;
    content: $fa-var-angle-down;
    font-family: $font-family-icon;
    padding-left: 10px;
  }

  &:hover {
    color: $link-hover-color;
  }
}

.page-node-type-ingredient {
  .field--name-body {
    @extend %inner-content-width-padding;
    @media (min-width: $screen-sm) {
      margin: auto;
    }
  }

  .content .navbar {
    @extend %inner-content-width;
  }
}
