.block--quote {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -30px;
  margin-right: -30px;
  &.no__bg {
    color: $gray-base;
  }
  @media (min-width: $screen-md-lg) {
    margin-left: -12.22%;
    margin-right: -12.22%;
  }
}

.quote__content {
  display: table;
  margin: auto;
  width: 100%;
  @media (min-width: $screen-sm-lsp) {
    border: 1px solid;
    padding: 44px 30px;
    max-width: 1108px;
  }

  .field--name-field-short-summary {
    font-size: $font-size-h4;
    font-family: $font-family-sans-serif-light;
    line-height: 1;
    margin-bottom: 18px;
    margin-top: 16px;
    @media (min-width: $screen-sm-lsp) {
      font-size: $font-size-h3;
      margin-top: 0;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 60px;
    }

    &::before {
      content: open-quote;
      margin-right: 3px;
    }

    &::after {
      content: close-quote;
      margin-left: 3px;
    }

    &::before,
    &::after {
      font-family: $font-family-sans-serif-Med;
      font-size: $font-size-h1-sm;
      line-height: 0;
      position: relative;
      top: 14px;
    }
  }

  .field--name-field-qt-quote-person {
    font-family: $font-family-sans-serif-Med;
  }

  .field--name-field-bg-image img {
    border-radius: 100%;
    border: 1px solid;
    max-width: 89px;
    padding: 5px;
    @media (min-width: $screen-sm) {
      max-width: 167px;
    }
  }
}

.quote__content--left,
.quote__content--right {
  @media (min-width: $screen-sm-lsp) {
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
  }
}

.quote__content--right {
  @media (min-width: $screen-sm-lsp) {
    padding: 0 60px;
  }
}

.bg-image,
.no-bg-image {
  padding: 30px;
}

.bg-image {
  background-color: $gray-base-translucent;
}

.block--quote {
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  @media (min-width: $screen-sm-lsp) {
    .field--name-field-simple-text,
    .field--name-field-tal-link {
      text-align: center;
    }
  }

  .field--name-field-tal-link {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: $screen-sm-lsp) {
      padding: 0;
    }

    a {
      @extend .btn-white;

      &::after {
        content: "\f105";
        font-family: $font-family-icon;
        padding-left: 10px;
      }
    }
  }

  hr {
    border-color: inherit;
    width: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    @media (min-width: $screen-sm-lsp) {
      margin: auto;
    }
  }

  .block-title {
    color: inherit;
    font-family: $font-family-sans-serif-Med;
    font-size: $font-size-h3;
    margin-bottom: 40px;
    margin-top: 0;
    @media (min-width: $screen-sm-lsp) {
      font-size: $font-size-h2;
    }
  }
}

.quote__content--left {
  padding-bottom: 20px;
  @media (min-width: $screen-sm-lsp) {
    border-right: 1px solid;
    width: 260px;
  }
}

.no--top--bottom {

  .bg-image,
  .no-bg-image {
    padding: 0;
  }

  .bg-image {
    background-color: $color-white;
  }

  .White,
  .Off-white,
  .light-grey {
    color: $gray-base;
  }

  .quote__content--left,
  .quote__content--right {
    padding-bottom: 0;
    padding-top: 0;
  }

  .quote__main {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .quote__content {
    border: none;
    padding: 30px;
    @media (min-width: $screen-sm-lsp) {
      padding: 0 30px;
    }
  }
}

.block--quote hr {
  display: none;
}

.quote__content.White {
  background: $color-off-white;
  @media (min-width: $screen-sm-lsp) {
    background: none;
  }
}
