.page-node-type-company-story, .page-node-type-press-release {
  .page-header {
    margin-bottom: 0;
    @media (min-width: $screen-sm) {
      margin-bottom: 22px;
    }

    &::after {
      content: none;
    }
  }

  .region-content {
    @extend %inner-content-width-padding;
    @media (min-width: $screen-md) {
      margin: auto;
    }

    article {
      padding-left: 0;
      padding-right: 0;
    }

    .paragraph--show-border {
      margin-left: 0;
      margin-right: 0;
    }

    .content,
    .page-header {
      max-width: 878px;
      margin-left: 0;
    }

    .page-header {
      padding-left: 0;
    }

    .paragraph {
      h1 {
        line-height: 0;
        margin-top: 0;
        strong {
          line-height: 1;
        }
      }

      h3 {
        margin-bottom: 0;
      }

      .field--type-text-long img,
      .field--type-text-with-summary img {
        float: left;
        margin-right: 20px;
      }

      .quote__content img {
        float: none;
        padding: 5px;
      }
    }

    .date--category {
      @extend %title-border-bottom;
      @media (min-width: $screen-sm) {
        border-bottom: 1px solid $color-warm-gray;
      }
      margin-bottom: 10px;
      padding-bottom: 10px;
      .field {
        display: inline-block;
      }
    }

    .quote__main,
    .block--single-item-promo,
    .block--content-promo {
      margin-left: 0;
      margin-right: 0;
      @media (min-width: $screen-md) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .block--accordion-with-tabs {
      padding-left: 0;
      padding-right: 0;
    }

    .file--downloads {
      @media (max-width: $screen-sm-max) {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
      }
    }
  }

  p {
    line-height: 22px;
  }

  figure {
    position: relative;
    margin: 30px 0;

    figcaption {
      background-color: rgba(0, 0, 0, 0.9);
      bottom: 0;
      color: $color-white;
      padding: 14px 28px;
      position: absolute;
      width: 100%;
    }
  }

  .paragraph {

    .block--connect {
      padding-left: 0;
      padding-right: 0;
      @media (min-width: $screen-xs) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.news--articles {
  background-color: $color-off-white;
  border-bottom: 1px solid $color-warm-gray;
  border-top: 1px solid $color-warm-gray;
  display: table;
  margin-bottom: 70px;
  margin-top: 70px;
  width: 100%;

  .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
    @media (min-width: $screen-sm) {
      display: table-cell;
      float: none;
      text-align: left;
      vertical-align: middle;
    }
    a {
      display: block;
      padding: 30px 20px;

      span {
        display: block;
        font-family: $font-family-sans-serif-Med;
        margin-top: 15px;
      }
    }
  }

  .all--articles {
    text-align: center;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    a {
      border-top: 1px solid $color-warm-gray;
      border-bottom: 1px solid $color-warm-gray;

      @media (min-width: $screen-sm) {
        border: none;
        border-left: 1px solid $color-warm-gray;
        border-right: 1px solid $color-warm-gray;
      }

      &::after {
        @extend %right-brand-arrow;
      }
    }
  }

  .previous--articles,
  .next--articles {
    &::after {
      @extend %right-brand-arrow;
      font-size: $font-size-h3;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .next--articles {
    &::after {
      right: 10px;
    }
  }

  .previous--articles {

    a {
      border-right: 1px solid $color-warm-gray;
      @media (min-width: $screen-sm) {
        border-right: none;
      }
    }

    @media (min-width: $screen-sm) {
      text-align: right;
    }

    &::after {
      content: $fa-var-angle-left;
      left: 0;
    }
  }
}

.field--name-field-author {
  .field--label,
  .field--item {
    color: $gray-base;
    display: inline-block;
  }

  .field--label::after {
    content: ":";
  }
}
