.space {
  margin: 0 0.5em;
}

.block--dynamic-posts {
  h2.block-title {
    border-bottom: 1px solid $color-warm-gray;
    padding-bottom: 0.5em;
  }
}

.teaser-content {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $color-warm-gray;
  margin-bottom: 29px;
  padding-bottom: 26px;
  @media (min-width: $screen-sm) {
    padding-bottom: 2em;
  }
  .teaser-summary {
    margin-top: 1em;
    display: inline-block;
    @media (min-width: $screen-sm) {
      margin-top: 0;
      display: block;
    }
  }
  .teaser__icon,
  .teaser__date--category {
    display: inline-block;
  }

  .teaser__icon {
    position: relative;
    top: -4px;
    vertical-align: top;
    @media (min-width: $screen-sm) {
      position: static;
    }
  }
  h3 {
    font-size: $font-size-h5;
    font-family: $font-family-sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
    @media (min-width: $screen-sm) {
      margin-bottom: 3px;
      margin-left: 20px;
    }
    @media (min-width: $screen-md) {
      font-size: $font-size-h3;
      margin-left: 28px;
    }
  }
  .date--category {
    position: relative;
    margin-bottom: 2em;
    @media (min-width: $screen-sm) {
      position: static;
      padding-left: 20px;
      left: -44px;
    }
    @media (min-width: $screen-md) {
      padding-left: 28px;
    }
    .field--name-field-ac-icon {
      left: 0;
      position: absolute;
      top: 20px;
      article {
        margin: 0;
        padding-left: 0;
      }
      img {
        max-width: 40px;
      }
    }
    div {
      display: inline-block;
    }
    .tal--term-name {
      color: $gray-dark;
      display: inline-block;
      font-family: $font-family-sans-serif;
      font-size: $font-size-base;
      margin: 0;
      line-height: 1;
    }

    .tal--term-icon,
    .tal--term-description {
      display: none;
    }
  }

  .field--name-field-ac-icon {
    article {
      margin: 0;
      padding: 0;
    }
    img {
      max-width: 40px;
    }
  }

  .teaser-image {
    float: left;
    margin-right: 2em;
    .field--label {
      display: none;
    }
  }

  .teaser-read-more a {
    color: black;
    &::after {
      @extend %right-brand-arrow;
    }
  }
}

.view-article-list {

  article,
  .view-filters,
  nav {
    max-width: 882px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
    @media (min-width: $screen-md) {
      margin: auto;
    }
  }

  .form-type-select {
    background-color: rgba(153, 153, 153, 0.05);
    border-bottom: 1px solid $color-warm-gray;
    border-top: 1px solid $color-warm-gray;
    display: block;
    margin-top: 22px;
    margin-bottom: 32px;
    padding: 22px 30px;
    text-align: center;
    @media (min-width: $screen-sm) {
      margin-top: 40px;
      margin-bottom: 26px;
      padding: 30px;
    }
    @media (min-width: $screen-sm) {
      margin-bottom: 32px;
    }

    .control-label,
    .select-wrapper {
      display: inline-block;
    }

    .control-label {
      margin-right: 20px;
    }

    .select-wrapper {
      background-color: $color-white;
    }
  }

  select {
    @extend %bordered-select;
    min-width: 169px;

    @media (min-width: $screen-sm) {
      min-width: 309px;
    }
  }
}

.view-article-categories {
  @extend %inner-content-width;
  margin-top: 60px;

  .field--name-name {
    font-size: $font-size-h4;
    margin-bottom: 5px;
    @media (min-width: $screen-sm) {
      font-size: $font-size-h3;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }
  }

  .views-row {
    @extend .col-sm-6;
    @extend .col-md-3;
    margin-bottom: 26px;
    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      border-right: 1px solid $gray-base-light;
      color: inherit;
      display: table-cell;
      float: none;
      max-width: 288px;
      padding: 10px 26px;
      text-align: center;
      vertical-align: top;
    }

    &:last-child {
      border-right: 0;
    }


    .field--name-description {
      display: none;
      @media (min-width: $screen-sm) {
        display: block;
      }
    }

    &:hover {
      cursor: pointer;
      .tal--term-name,
      .field--name-description {
        color: $brand-primary;
      }
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

    .views-row {
      border-right: none;
      display: inline-block;
      float: none;
      max-width: none;
      padding: 0 49px;
      padding-bottom: 36px;
      text-align: center;
      width: 48%;
    }
  }

  .tal--term-icon,
  .tal--term-name {
    display: inline-block;
    vertical-align: middle;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  .tal--term-name {
    margin: 0;
    margin-left: 9px;
    @media (min-width: $screen-sm) {
      margin-bottom: 7px;
      margin-left: 0;
      margin-top: 7px;
    }

    @media (min-width: $screen-md) {
      margin-top: 21px;
      margin-bottom: 20px;
    }
  }

  .icon {
    margin-bottom: 0;
    padding: 0;

    img {
      max-width: 38px;

      @media (min-width: $screen-sm) {
        margin: auto;
      }
    }
  }

  .view-content {
    overflow: hidden;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
      display: table;
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 40px;
    }
  }

  .view-footer {
    clear: both;
    text-align: center;

    .tal--all-articles a:first-child {
      @extend .btn-primary;
      display: block;
      padding: 9px 20px;

      &::after {
        @extend %right-brand-arrow;
        color: $color-white;
      }

      @media (min-width: $screen-sm) {
        display: inline;
      }
    }
  }
}

.view {
  .pager {
    li a {
      @extend .btn-primary;
      border-radius: 0;
    }
  }
}

.tal-dynamic-post-wrapper {
  .teaser {
    padding-left: 0;
    padding-right: 0;
  }
}
