// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Mixins.
@import "mixins.less";


/* General */

/* Header */
.navbar-header {
  padding: 0 20px;
  width: 100%;
}

.header-left {
  float: left;
}

.navbar-brand{
  font-size: 24px;
  height: 20px;
  padding-bottom: 0;
}

.header-right {
  float: right;
  width: 166px;
  padding-top:35px;
  .search-block-form {
    margin-top: 22px;
  }
}

.language-switcher-language-url {
  text-align: right;
  li {
    display: inline-block;
    &:after {
      content: "|";
      font-size: 7px;
      font-weight: bold;
      margin: 0 7px;
      position: relative;
      top: -2px;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  a {
    font-size: 11px;
  }
}

.tatelyle_logo {
  padding-right: 0;
}

.search-block-form {
  .form-control {
    border:none;
    box-shadow:none;
    border-radius:0;
    font-size: 11px;
    float:right;
    margin: 0 0 0;
    width: 145px;
    background: #eeeae6;
    border: none;
    height: 19px;
    padding: 0 0 0 5px;
    line-height: 19px;
  }
  button.btn {
    background:#B9B3AC;
    border:none;
    border-radius:0;
    font-size:12px;
    height: 19px;
    padding:3px 5px;
    width: 20px;
  }
}

/* Navigation */
.navbar-collapse.collapse {
  display: none !important;
}

.navbar.container {
  border: 0;
  border-radius: 0;
  .constrained;
  padding: 0;
  .container {
    padding-top: 35px;
  }
  .navbar-collapse {
    background-color: #FFF;
    padding: 0 20px 10px;
    width: 100%;
  }
  .navbar-nav {
    background-image: url(../images/menu.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 12px 0 12px;
    margin-bottom: 10px;
    width: 100%;
    li:first-child a{
      border-left: none;
      padding-left: 0;
    }
    a {
      border-left: 1px solid #DDD;
      color: #7D6A57;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
      padding-bottom: 0px;
      padding-top: 0;
    }
  }
  .caret {
    display: none;
  }
}

li.dropdown:active,
li.dropdown:focus,
li.dropdown:hover {
  .dropdown-menu {
    background: #FFF;
    border: 0;
    border-radius: 0;
    display: block;
    padding: 5px 0 0;
    width: auto;
    li {
      background-image: url(../images/subnav-border-top.gif);
      background-position: bottom;
      background-repeat: no-repeat;
      height: 25px;
      margin: 0 2px 2px 2px;
      padding: 5px 10px 26px 8px;
      width: 215px;
      &:last-child {
        background: none;
      }
      &:active,
      &:focus,
      &:hover {
        background: #B9B3AC;
      }
    }
    a {
      background-color: transparent;
      border: none;
      color: #7D6A57 !important;
      font-weight: normal;
      margin-top: 3px;
      padding: 0 5px 0 0px;
    }
  }
}


/* Breadcrumb */
.breadcrumb {
  background: transparent;
  float: left;
  font-weight: bold;
  line-height: 11px;
  padding: 0;
  li {
    font-size: 11px;
    text-transform: capitalize;
    &:first-of-type {
      color: #948671;
    }
    &:nth-child(2):before {
      content: none;
    }
    &:first-of-type:before {
      content: none;
    }
    &:before {
      color: #948671;
      content: '>';
      padding: 0; 
    }
    &.active:before {
      color: #948671;
      content: '>';
      padding: 0;  
    }
    a {
      color: #948671;
      font-size: 11px;
      text-transform: capitalize;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

/* Homepage one column */
.tl-no-sidebars {
  &.path-frontpage {
    .field--name-field-touts {
      height: 100%;
      margin-top: 24px;
      > div {
        background-color: #FFF;
        background-image: url(../images/col.gif); 
        background-position: right;
        background-repeat: repeat-y;
        float: left;
        margin-right: 1.5%;
        min-height: 263px;
        padding-right: 2%;
        width: 23.7%;
        &:last-child {
          background-image: none;
          margin-right: 0;
          padding-right: 0;
        }
        .tout-image {
          float:none;
          margin: 0;
          padding: 0;
          max-width: 100%;
          width: 100%;
        }
      }
      .field--name-field-title {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 13px;
        margin-top: 4px;
        padding-bottom: 4px;
        padding-top: 5px;
      }
    }
  }
}

/* Homepage two column */
.tl-one-sidebar.path-frontpage {
   .main-container .col-sm-9 {
    background-image: url(../images/col.gif);
    background-position: right;
    background-repeat: repeat-y;
  }
  .field--name-field-touts {
    background-color: #FFF;
    background-repeat: repeat-y;
    height: 100%;
    margin-top: 24px;
    min-height: initial;
    > div {
      background-image: url(../images/col.gif);
      background-position: right;
      background-repeat: repeat-y;
      float: left;
      margin-right: 2%;
      padding-right: 2.5%;
      width: 29.5%;
      &:nth-child(2) {
        background: none;
        margin-right: 0;
        padding: 0;
        width: 68%;
        .tout-image {
          margin-bottom: 10px;
        }
        .field--name-field-title {
          display: none;
        }
      }
    }
    .tout-image {
      float: none;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
    }
    .field--name-field-title {
      font-family: Arial,Helvetica,sans-serif;
      font-size: 13px;
      padding-bottom: 4px;
      margin-top: 4px;
      padding-top: 5px;
    }
    .tout-text {
      h3 {
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }
}

.path-frontpage {
  aside {
    padding-left: 10px;
    .field--name-field-title {
      display:none;
    }
  }
 .page-header {
    display:none;
  } 
}
.page-node-type-form {
  .page-header{
    display:none;
  }
}

/* Other pages */
body:not(.path-frontpage) {
  aside {
    &:first-of-type {
      max-width: 215px;
      padding-right: 20px;
    }
    &:last-of-type {
      max-width: 245px;
      padding-left: 28px;
      padding-right: 0;
      width: 245px;
    }
    .block {
      padding-bottom: 30px;
    }
    .field--name-field-title {
      display: none;
    } 
    .menu.nav {
      float: none;
      li {
        border-bottom: 1px solid #E5E5E5;
        float: none;
        padding: 4px 0 3px;
      }
      a {
        color: #7D6A57;
        font-weight: bold;
        font-size: 12px;
        padding: 0;
         &:hover {
          background: transparent;
          color: #4E8ABE;
        }
      }
    }
  }
}

aside {
  .tout-image{
    float:none;
    padding-bottom: initial;
    margin-right: initial;
    max-width: initial;
    width: initial;
  }
  .tout-text {
    h3 {
      font-size:14.5px;
      font-weight: bold;
      margin-top:10px;
    }
  }
}

/* Main content */
div[role="main"] > .row {
  padding-bottom: 45px;
}

.main-container {
  border-radius: 0 0 35px 0;
}

.middle-content {
  padding-left: 5px;
  padding-right: 0px;
  position: relative;
  &:before {
    background-image: url(../images/col.gif);
    background-position: left;
    background-repeat: repeat-y;
    content: "";
    height: 100%;
    margin-left: -15px;
    position: absolute;
    top: 0;
    width: 4px;
  }
  &:after {
    background-image: url(../images/col.gif);
    background-position: right;
    background-repeat: repeat-y;
    content: "";
    height: 100%;
    margin-right: -18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
  }
}

.container {
  .constrained;
}

.page-header {
  border-bottom: 1px solid #dcd9d6;
  font-size:20px;
  font-weight: bold;
  margin-bottom:10px;
}

/* Text */
.paragraph--type--text {
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 17px;
    font-weight: bold;
  }
  h4 {
    font-size: 15px;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li  {
      background-image: url(../images/bullet-link.gif);
      background-position: 0 5px;
      background-repeat: no-repeat;
      display: block;
      margin-bottom: 5px;
      padding-left: 10px;
    }
  }
  img {
    height: auto;
    width: 100%;
  }
}

/* Tout */
.paragraph--type--tout {
  img {
    height: auto;
    width: 100%;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  li  {
    background-image: url(../images/bullet-link.gif);
    background-position: 0 5px;
    background-repeat: no-repeat;
    display: block;
    font-size:12px;
    line-height: 14px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }
}

.field--name-field-touts {
  min-height: 263px;
  margin-top: 15px;
  height: 100%;
  background-color: #FFFFFF;
  background-repeat: repeat-y;
}

.field--name-field-title {
  color: #4E8ABE;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 12px 0;
}

.tout-image {
  float:left;
  margin-right:30px;
  position:relative;
  padding-bottom:20px;
  max-width: 210px;
  width:210px;
}

/* Slideshow */
.paragraph--type--slide {
  position: relative;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  width: 100%;
}

.carousel-control.left,
.carousel-control.right {
  background: #000 url("../images/carousel-prev.png") 2px 50% no-repeat;
  content: "";
  display: inline-block;
  height: 45px;
  left: 0;
  margin-left: 0;
  top: 42%;
  width: 23px;
}

.carousel-control.right {
  background: #000 url("../images/carousel-next.png") 11px 50% no-repeat;
  margin-left: auto;
  margin-right: 0;
  right: 0;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  &:before {
    content: none;
  }
}

/* Modal */
.open-modal {
  background: url(../images/bg-ajaxbox-link.gif) top left no-repeat;
  cursor: pointer;
  display: block;
  height: 21px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 21px;
}

.modal.fade {
  .modal-dialog {
    height: 100%;
    margin: 0 auto;
    transform: none;
    width: 500px;
    .modal-content {
      -webkit-transform: translateY(-50%);
      -moz-transform:    translateY(-50%);
      -ms-transform:     translateY(-50%);
      -o-transform:      translateY(-50%);
      transform:         translateY(-50%);
      border: 0;
      border-radius: 0;
      top:50%;
      border-bottom: 30px solid #5C5C5C;
      border-top: 30px solid #5C5C5C;
      padding: 20px;
      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      p:first-child {
        margin-top: 0;
      }
    }
  }
}

/* Accordion */
.paragraph--type--accordion {
  margin-top:15px;
  a {
    color: #7D6A57;
  }
  .accordion-title-group {
    color: #4E8ABE;
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
    padding: 12px 0;
  }
  #accordion {
    border-top: 1px solid #E5E5E5;
    .accordion-set {
      background-attachment: scroll;
      background-color: rgb(241, 240, 236);
      background-image: url(../images/minusSign.png);
      background-repeat: no-repeat;
      background-position: 97% 12px;
      border-bottom: 1px solid #E5E5E5;
      clear:both;
      display: inline-block;
      padding: 10px 0 10px 10px;
      width: 100%;
      &.collapsed {
        background-color: #FFF;
        background-image: url(../images/PlusSign.png);
        .accordion-title {
           color: #7D6A57;
        }
        &:hover {
          background-color: rgb(241, 240, 236);
          cursor: pointer;
        }
      }
      .image-accordion {
        float: left;
        padding-right: 10px;
      }
      .panel-collapse {
        clear:both;
      }
      .accordion-content {
        font-size:0.85em;
        padding-right:10px;
        padding-top:10px;
        ul {
          padding-left:0;
          list-style-type:none;
          li {
            background-image: url(../images/bullet-link.gif);
            background-position: 0 5px;
            background-repeat: no-repeat;
            margin-bottom: 5px;
            padding-left: 10px;
          }
        }
      }
      .accordion-title {
        background: url(../images/bullet-link.gif) 0 5px no-repeat;
        display: inline-block;
        font-size: 1em;
        line-height: 14px;
        padding: 0 0 4px 12px;
      }
      .accordion-subtitle {
        font-size:0.85em;
      }
    }
  }
}

/* Forms */
.contact-form {
  .gradient (@startColor: #E4E0DB, @endColor: #FFF);
  padding: 25px;

  label {
    color: #525252;
    font-size: 12px;
    padding: 5px 0 4px 0;
    text-align: left;
  }

  span.form-required {
    color: #948671;
    margin-left: -3px;
  }

  .form-control {
    border-radius: 0;
    height: 24px;
    padding: 0;
  }

  .form-actions {
    text-align: right;
    button {
      background: #B9B3AC;
      border-radius: 0;
      color: #FFF;
      font-size: 12px;
      font-weight: bold;
      height: 30px;
      margin: 10px 0 0;
      padding: 0 5px;
    }
    #edit-submit {
      margin: 10px 5px 0 0;
    }
  }
}

/* Form landing */
.form-landing {
  .field--name-field-form {
    float: right;
    margin-right: 3%;
    width: 35%;
  }
  .field--name-field-main-content {
    float: left;
    margin-left: 2%;
    margin-right: 5%;
    padding-bottom: 30px;
    width: 55%;
    .paragraph--type--image {
      float: left;
      width: 20%;
    }
    .paragraph--type--text {
      padding-left: 130px;
      h3, h4 {
        font-size: 21px;
        font-weight: bold;
        margin-top: 0;
      }
      p {
        font-size: 17px;
        line-height: 22px;
      }
      ul {
        font-size: 17px;
        line-height: 22px;
        padding: 10px 0;
      }
    }
    & > div:first-of-type {
      .paragraph--type--text {
        padding-bottom: 10px;
        padding-left: 0;
        h2, h3 {
          font-size: 26px;
        }
      }
    }
    & > div:nth-child(3) {
      padding-bottom: 40px;
      position: relative;
      &:after {
        background: url(../images/menu.gif);
        background-repeat: repeat-x;
        content: "";
        height: 4px;
        margin-top: 20px;
        position: absolute;
        width: 100%;
      }
    }
    & > div:nth-child(4) {
      .paragraph--type--text {
        padding-left: 0;
      }
    }
  }
  .contact-form {
    .form-group {
      margin-bottom: 10px;
    }
    label {
      font-size: 17px;
      margin: 0;
      padding: 2px 0;
    }
    .form-control {
      border: 0;
      box-shadow: none;
    }
    .form-actions {
      text-align: left;
    }
    .form-item-field-subscribe-value {
      margin: 0 22px;
    }
  }
  .field--name-field-form-header {
    background: #E4E0DB;
    display: inline-block;
    margin-top: 30px;
    padding: 0 30px;
    width: 35%;
    h3 {
      color: #4D4D4F;
      font-size: 26px;
      font-weight: bold;
    }
    p {
      color: #4D4D4F;
      font-size: 17px;
    }
  }
}

/* Footer */
.footer {
  background: transparent;
  border: none;
  color: #7D6A57;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.region-footer {
  .menu {
    li:first-child a {
      border-left: none;
      padding: 0 5px 0 0;
    }
    a {
      border-left: 1px solid #7D6A57;
      padding: 0 5px;
      line-height: 12px;
      &:focus,
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

#block-tatelylecookielink {
  clear:both;
}

#block-termsandconditions {
  li {
    display: inline-block;
  }
}

.footer-image {
  margin-left: -20px;
}

/* Custom sites */
.clariastarch {
  .header-top {
    .horizontal-gradient (@startColor: #4DC0AF, @endColor: #FFF);
  }
  a {
    color: #7D6A57;
  }
  h1, h2, h3, h4, .field--name-field-touts .field--name-field-title, .navbar-brand,
  a:active, a:focus, a:hover,
   #accordion .accordion-set.collapsed:hover .accordion-title, #accordion .accordion-set .accordion-title, .paragraph--type--accordion a:hover {
    color: @green-light;
  }
  .navbar-nav.nav {
    li a:hover, li a:focus  {
      color: @green-light;
    }
  }
  .header-left {
    padding-top:10px;
  }
  .breadcrumb {
    li {
      &:last-of-type { 
        color: @green-light;
      }
      a:hover {
        color: @green-light;
      }
    }
  }
}

.purefruit {
 .header-top {
    .horizontal-gradient (@startColor: #D2E0BB, @endColor: #FFF);
  }
  a {
    color: #7D6A57;
  }
  h1, h2, h3, h4, .field--name-field-touts .field--name-field-title, .navbar-brand, a:hover, a:focus,
  #accordion .accordion-set.collapsed:hover .accordion-title, #accordion .accordion-set .accordion-title, .paragraph--type--accordion a:hover {
    color: @green-dark;
  }
  .navbar-nav.nav {
   li a:hover, li a:focus  {
     color: @green-dark;
    }
  }
  .header-left {
    padding-top: 10px;
  }
  .breadcrumb {
    li {
      &:last-of-type { 
        color: @green-dark;
      }
      a:hover {
        color: @green-dark;
      }
    }
  }
}

.soda-lo {
  .header-top {
    .horizontal-gradient (@startColor: #DEDBD5, @endColor: #FFF);
  }
  a {
    color: #7D6A57;
  }
  h1, h2, h3, h4, .field--name-field-touts .field--name-field-title, .navbar-brand, a:hover, a:focus,
  #accordion .accordion-set.collapsed:hover .accordion-title, #accordion .accordion-set .accordion-title .paragraph--type--accordion a:hover {
    color: @blue-dark;
  }
  .navbar-nav.nav {
    li a:hover, li a:focus {
      color: @blue-dark;
    }
  }
  .header-left {
    margin-top: -18px;
    padding-top: 0px;
  }
  .breadcrumb {
    li {
      &:last-of-type { 
        color: @blue-dark;
      }
      a:hover {
        color: @blue-dark;
      }
    }
  }
}

.proatein {
  a {
    color: #7D6A57;
  }
  h1, h2, h3, h4, .field--name-field-touts .field--name-field-title, .navbar-brand, a:hover, a:focus,
  #accordion .accordion-set.collapsed:hover .accordion-title, #accordion .accordion-set .accordion-title, .paragraph--type--accordion a:hover {
    color: @orange;
  }
  .navbar-nav.nav {
    li a:hover, li a:focus {
      color: @orange;
    }
  }
  .header-left {
    padding-top:20px;
  }
  .breadcrumb {
    li {
      &:last-of-type { 
        color: @orange;
      }
      a:hover {
        color: @orange;
      }
    }
  }
}

.avenacare{
  a {
    color: #7D6A57;
  }
  h1, h2, h3, h4, .field--name-field-touts .field--name-field-title, .navbar-brand, a:hover, a:focus,
  #accordion .accordion-set.collapsed:hover .accordion-title, #accordion .accordion-set .accordion-title, .paragraph--type--accordion a:hover {
    color: @blue-light;
  }
  .navbar-nav.nav {
    li a:hover, li a:focus {
      color: @blue-light;
    }
  }
  .header-left {
    padding-top: 30px;
  }
  .breadcrumb {
    li {
      &:last-of-type { 
        color: @blue-light;
      }
      a:hover {
        color: @blue-light;
      }
    }
  }
}

.open-innovation {
  .header-top {
      .horizontal-gradient (@startColor: #D6D2DE, @endColor: #FFF);
  }
  a {
    color: #7D6A57;
  }
   h1, h2, h3, h4, .field--name-field-touts .field--name-field-title, .navbar-brand, a:hover, a:focus,
  #accordion .accordion-set.collapsed:hover .accordion-title, #accordion .accordion-set .accordion-title, .paragraph--type--accordion a:hover {
    color: @purple;
  }
  .navbar-nav.nav {
    li a:hover, li a:focus {
      color: @purple;
    }
  }
  .header-left {
    padding-top: 55px;
    .navbar-brand {
      padding-left:0;
    }
  }
  .breadcrumb {
    li {
      &:last-of-type { 
        color: @purple;
      }
      a:hover {
        color: @purple;
      }
    }
  }
}

/* Overrides */
.toolbar-tray a:hover, .toolbar-tray a:active, .toolbar-tray a:focus, .toolbar-tray a.is-active {
  color: #000 !important;
}