/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

// Colors

@blue-dark: #003070;
@blue-light: #4E8ABE;
@green-dark: #6A971F;
@green-light: #4EC0AF;
@orange: #FEA30A;
@purple: #7373A8;
