
{#
/**
* @file
* Default theme implementation for video gallery.
*
* @ingroup themeable
*/
#}

<div class="tal--image-gallery">
    <div class="tal--image-gallery-featured">
        {% if featured %}
            <h1>{{ "Featured Images"|t }}</h1>
            {{ featured }}
        {%  endif %}
    </div>
    <div class="tal--image-gallery-categories">
        {% for category in categories %}
            {%  if (category.carousel) %}
                <h3 class="tal--carousel-title">{{ category.name }}</h3>
                <div class="carousel">{{ category.carousel }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
