.max-content-width {
  max-width: 587px;

  @media (min-width: $screen-sm-lsp) and (orientation: landscape) {
    max-width: 607px;
  }

  @media (min-width: $screen-sm) {
    max-width: 798px;
  }

  @media (min-width: $screen-md) {
    max-width: 1108px;
  }
}

.max-content-width-sm {
  @media (min-width: $screen-sm) {
    max-width: 708px;
  }
  @media (min-width: $screen-md) {
    max-width: 943px;
  }
}

.max-width-summary {
  max-width: 533px;
}

.modal-backdrop {
  display: none;
}

.inline-content {
  display: inline-block;
}

.view {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
