%vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

%absolute-center {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}

%full-absolute {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

%svg-icon-small {
  content: " ";
  display: inline-block;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
  width: 15px;
}

%inner-content-width {
  max-width: 1108px;
  margin-left: 20px;
  margin-right: 20px;
  @media (min-width: $screen-md) {
    margin: auto;
  }
}

%inner-content-width-padding {
  max-width: 1168px;
  padding-left: 30px;
  padding-right: 30px;
}

%title-border-top {
  &::before {
    background-color: $gray-base;
    content: " ";
    display: block;
    height: 1px;
    margin-bottom: 15px;
    width: 30px;
  }

  @media (min-width: $screen-sm) {
    &::before {
      content: none;
    }
  }
}

%title-border-bottom {
  &::after {
    background-color: $gray-base;
    content: " ";
    display: block;
    height: 1px;
    margin-top: 15px;
    width: 30px;
  }

  @media (min-width: $screen-sm) {
    &::after {
      content: none;
    }
  }
}

%right-brand-arrow {
  content: $fa-var-angle-right;
  color: $brand-primary;
  font-family: $font-family-icon;
  padding-left: 10px;
}
