%vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

%absolute-center {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}

%full-absolute {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

%svg-icon-small {
  content: " ";
  display: inline-block;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
  width: 15px;
}

%inner-content-width {
  max-width: 1108px;
  margin-left: 30px;
  margin-right: 30px;
  @media (min-width: $screen-md) {
    margin: auto;
  }
}

%inner-content-width-padding {
  max-width: 1168px;
  padding-left: 30px;
  padding-right: 30px;
}

%title-border-top {
  &::before {
    background-color: $gray-base;
    content: " ";
    display: block;
    height: 1px;
    margin-bottom: 15px;
    width: 30px;
  }

  @media (min-width: $screen-sm-lsp) {
    &::before {
      content: none;
    }
  }
}

%title-border-bottom {
  &::after {
    background-color: $gray-base;
    content: " ";
    display: block;
    height: 1px;
    margin-top: 15px;
    width: 30px;
  }

  @media (min-width: $screen-sm) {
    &::after {
      content: none;
    }
  }
}

%right-brand-arrow {
  content: $fa-var-angle-right;
  color: $brand-primary;
  font-family: $font-family-icon;
  padding-left: 10px;
}

%border__block {
  @extend .max-content-width;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-top: 0;
  @media (max-width: $screen-sm-max) {
    margin-left: 30px;
    margin-right: 30px;
    max-width: none;
  }

  @media (min-width: $screen-sm) {
    border: 1px solid $color-warm-gray;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 60px;
    padding-top: 0;
  }

  @media (min-width: $screen-md) {
    padding: 112px;
    padding-bottom: 100px;
    padding-top: 0;
  }
}

%border__block--title {
  @extend %title-border-top;
  color: $gray-base;
  font-family: $font-family-sans-serif-Med;
  font-size: $font-size-h3;
  margin-bottom: 40px;

  @media (min-width: $screen-sm) {
    background: $color-white;
    display: table;
    font-size: $font-size-h2;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}

%border--title--less-space {
  font-size: $font-size-h3;
  font-family: $font-family-sans-serif-Med;
  margin-bottom: 30px;
  padding-left: 21px;
  padding-right: 30px;

  @media (min-width: $screen-sm-lsp) {
    background: $color-white;
    display: table;
    margin-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 346px;
  }

  @media (min-width: $screen-sm) {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 58px;
  }

  @media (min-width: $screen-md-lg) {
    font-size: $font-size-h2;
    margin-bottom: 36px;
    max-width: none;
  }
}

%bordered-select {
  appearance: none;
  background: url("../images/icons/dropdown-black.svg") no-repeat 95%;
  border: none;
  border-bottom: 1px solid $color-warm-gray;
  border-radius: 0;
  border-top: 1px solid $color-warm-gray;
  box-shadow: none;
  height: 40px;
  outline: none;
  padding: 7px;
  padding-right: 30px;
}

%download-icon {
  background: url("../images/icons/buttoncta-arrow-white.png") no-repeat;
  background-size: cover;
  content: " ";
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

%no-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
