
{#
/**
* @file
* Default theme implementation for mega menu.
*
* @ingroup themeable
*/
#}
<div class="col-sm-6 col-md-4">
<h3>{{ link }}</h3>
<ul class="multi-column-dropdown">
    {{ data }}
</ul>
</div>
