
{#
/**
* @file
* Default theme implementation for mega menu.
*
* @ingroup themeable
*/
#}
<li class="dropdown level-1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ link }}</a>
    <ul class="dropdown-menu multi-column columns-3">
        <li class="row">
            {{ data }}
        </li>
    </ul>
</li>
