
{#
/**
* @file
* Default theme implementation for mega menu.
*
* @ingroup themeable
*/
#}

{% if desc %}
<li class="level-3 dsc">{{ link }}
    <p class="focus--description">{{ desc }}</p></li>
{% else %}
<li class="level-3">{{ link }}</li>
{% endif %}

